



@media screen and (max-width: 450px) {
  .login-form{
      margin-top: 10%;
  }

  .register-form{
      margin-top: 10%;
  }
}

@media screen and (min-width: 768px){
  .main{
      margin-left: 40%;
  }

  .login-form{
      transition: opacity 1s;
      &.closed{
        opacity: 0;
      }
      &.open{
        opacity: 1;
      }
      // margin-top: 80%;
  }

  .register-form{
      margin-top: 20%;
  }
}


.login-main-text{
  margin-top: 20%;
  padding: 60px;
  color: #fff;
}

.login-main-text h2{
  font-weight: 300;
}

.btn-black{
  background-color: #000 !important;
  color: #fff;
}
.logo{
  display: flex;
  justify-content: center;
}

.login{
  &.button{
    width: 35%;
    background: var(--color-main)!important;
    color: var(--white);
  }
}
.register{
  &.button{
    width: 35%;
    background: var(--color-violet)!important;
    color: var(--white);
  }
}
