<!-- <div class="table">
  <table mat-table [dataSource] = "config.rows">
    <ng-container *ngFor="let col of config.columns" matColumnDef = "col">
      <th mat-header-cell *matHeaderCellDef>{{col}}</th>
      <td mat-cell *matCellDef="let element"> {{element[col]}} </td>
    </ng-container>
  </table>
</div> -->
<div class="table-container h-100 w-100 d-flex flex-column">
  <ng-container *ngIf="config.config != undefined && rows != undefined">
    <mat-table #table [dataSource] = "config.config.rows">
      <ng-container *ngFor="let column of config.config.columns" [cdkColumnDef]="column.columnDef">
        <mat-header-cell *cdkHeaderCellDef>{{ column.header }}</mat-header-cell>
        <mat-cell *cdkCellDef="let row">{{ column.cell(row) }}</mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </ng-container>
</div>
